/*Mobile First CSS*/


html, body{

    width: auto !important;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden !important;

}

/*fonts*/


body {
    font-size: 16px;
}
.white-text {
    color: #FFF;
}
.blue-text {
    color: #2C3E50;
}
.center-text {
    text-align: center;
    display: block;
}
.center-display-block {
    margin: 0 auto;
    float: none;
    display: block;

}
h1,
h2,
h3,
h4,
h5,
h6,
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-brand,
.my-name {
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}
h2 {
    font-size: 2.5em;
}

/*Change the color of fonts in the navbar*/

.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-size: 1em
}
.navbar-default .navbar-brand {
    color: #fff;
    font-size: 1em;
}

/**********************************/


/*Page Wide Classes*/

.flexbox-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hr-images {
    min-width: 100%;
}
.red {
    outline: 1px solid red;
}

/**********************************/


/*CSS for each section*/


/*Nav Bar*/
.navvar{
margin-right: 0px;
}

.nav-props {
    background-color: #2c3e50;
    color: #FFF;
    border: none;
}

/*Header Section*/

.header {
    background: #18bc9c;
    padding: 80px 0px 50px 0px;
}
.profile-img-holder {
    margin-bottom: 30px;
}
.img-border {
    border: 10px solid #2c3e50;
}
.my-name {
    font-size: 2em;
}
.skills {
    font-size: 1.5em;
    color: red;
    font-weight: 100;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*Projects*/

.projects {
    padding: 150px 0px 100px 0px;
}
.project-item {
/*    display: inline-block;*/

/*    padding: 0px 10px 0px 10px;*/
/*    margin: 40px 40px 40px 40px;*/
}
.project-img {
    width: 95%;
    margin-bottom: 15px;
}
.project-item > p {
    text-align: center;
}
.project-item > ul > li {
    margin-left: 40px;
}
.flexbox-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Styling For Each Project Div*/

#project1 {
    background-color: #BA4C63;
    color: #D8D8D8;
}
#project2 {
    background-color: #1037B5;
    color: #EFC84A;
}
#project3 {
    background-color: #CCB2A3;
    color: #334D5C;
}
#project4 {
    background-color: #1FA4B6;
    color: #E05B49;
}

/*About Section*/

.about {
    background-color: #18BC9C;
    padding: 100px 0px 150px 0px;
}
.about-text {
    font-size: 1.5em;
    font-weight: 200;
    margin: 50px 0px;
}
#hire-link {
    display: block;
    border: 5px solid white;
    border-radius: 15px;
    width: 70%;
    height: 90px;
    margin-top: 25px;
    color: #fff;
    font-size: 1.4em;
    text-align: center;
    padding-top: 20px;
    text-decoration: none;
}
#hire-link:hover {
    background-color: #fff;
    color: #18BC9C;
}

/*contact*/

.contact {
    padding: 100px 0px;
}
form {
    margin: 50px 0px;
}
form input,
textarea {
    width: 100%;
    height: 80px;
    border: 1px solid #18bc9c;
    border-radius: 5px;
    padding: 0px 0px 0px 10px;
    font-size: 1.5em;
}
form textarea {
    height: 150px;
    padding-top: 10px;
    margin-bottom: 20px;
}
form input[type="submit"] {
    width: 60%;
    background-color: #18bc9c;
    border: none;
    color: #fff;
    height: 80px;
    border-radius: 10px;
}
form input[type="submit"]:hover {
    background-color: #128F76;
}

/*Plceholder Styling*/


/*A lot of code to make placeholders look smooth*/

::-webkit-input-placeholder {
    color: darkgrey;
    font-size: 1em;
    font-weight: bold;
    margin: 0px;
}
::-webkit-textarea-placeholder {
    color: darkgrey;
    font-size: 18px;
    font-weight: bold;
}
input::-moz-placeholder {
    color: darkgrey;
    font-size: 1em;
    font-weight: bold;
    margin: 0px;
}
textarea::-moz-placeholder {
    color: darkgrey;
    font-size: 1em;
    font-weight: bold;
}
input:-moz-placeholder {
    color: darkgrey;
    font-size: 1em;
    font-weight: bold;
    margin: 0px;
}
textarea:-moz-placeholder {
    color: darkgrey;
    font-size: 18px;
    font-weight: bold;
}
input:-ms-input-placeholder {
    color: darkgrey;
    font-size: 1em;
    font-weight: bold;
    margin: 0px;
}
textarea:-ms-input-placeholder {
    color: darkgrey;
    font-size: 1em;
    font-weight: bold;
    margin: 0px;
}

/*footer*/

footer {
    background-color: #2c3e50;
    padding-top: 100px;
}
footer > * {
    color: #fff;
}
footer h3 {
    font-size: 2em;
    margin-bottom: 25px;
}
footer p {
    font-size: 1.3em;
    font-weight: 100;
}
.my-info div {
    margin-bottom: 50px;
    padd
}
.copy {
    margin-top: 25px;
    padding: 20px 0px;
    background-color: #233140;
}
.copy p {
    font-size: 1.2em;
    font-weight: 100;
}
.logos {
    width: 150px;
}
#linkedin {
    margin-left: 15px;
}
@media (min-width: 480px) and (max-width: 799px) {

    /* font changes*/
    body {
        font-size: 10px;
    }
    .skills {
        font-size: 3em;
        color: yellow;
    }
    h2 {
        font-size: 6em;
        color: yellow;
    }
    .about-text {
        font-size: 2.5em;
    }
    /*Other important stuff that needs to change*/
    #hire-link {
        width: 80%;
    }
    form input {
        height: 100px;
        font-size: 2em;
    }
    form textarea {
        height: 200px;
    }
    form input[type="submit"] {
        height: 125px;
    }
}
@media (min-width: 800px) and (max-width: 1024px) {
 /*  Navbar Changes */
    .nav-props {
        padding-top: 30px;
        height: 100px;
        margin-bottom: 50px;
        /*Need a smooth transition in height here*/
    }
    .navbar-default .navbar-brand {
        color: #fff;
        font-size: 2em;
    }
    .header {
        padding: 160px 0px 50px 0px;
    }

    .skills{
        color: purple;
        font-size: 1em;
    }
    .flexbox-projects {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media(min-width:1025px) {
    #hire-link {
        width: 30%;
        height: 75px;
        font-size: 2em;
        padding-top: 10px;
    }
     .flexbox-projects {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

      .my-name {
	    font-size: 3em;
    }
    .skills{
        color: pink;
        font-size: 2em;
    }
    h2 {
        font-size: 3em;
        color: green;
    }
    footer{
        padding-top: 20px;
    }

}
@media(min-width: 1200px) {
 .flexbox-projects {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }}
